<body style="background-color: #333;">
    <div style="
    width: 100%;
    border-color: #fdbc3b;
    background: #333;
    align-items: center;
    color: #eee;
    display: flex;
    padding-top: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
">
        <img src="https://res.cloudinary.com/dhoovijbu/image/upload/v1648484867/logo_gdjebv.gif"
            style="width: 100%; max-width: 300px;margin-left: 30px;">
        <div class="card-body" style="
    box-shadow: 15px 10px #fdbc3b;
    width: 18rem;
    border: 2px solid #fdbc3b;
    margin-top: 30px;
    border-radius: 10px;
    padding: 30px;
    
    ">
            <h1 style="color: #fdbc3b;">
                <%=mes%>
            </h1>
        </div>
    </div>
</body>
<!-- <%- include ('../layouts/footer') %> -->
<script src="/js/jquery.min.js"></script>
<script>
    setTimeout(() => {
        $(location).attr('href', '/')
    }, 3000);
</script>