<body style="background-color: #333;">
    <style>
        h3{
        color: #fdbc3b;
        text-align: center;}

        .dots:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;}

        @keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        40% {
            color: #fdbc3b;
            text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        60% {
            text-shadow:
            .25em 0 0 #fdbc3b,
            .5em 0 0 rgba(0,0,0,0);}
        80%, 100% {
            text-shadow:
            .25em 0 0 #fdbc3b,
            .5em 0 0 #fdbc3b;}}
        @media (max-width: 520px){
                .card-body{
                    zoom: 60%;
                }
            }
    </style>
    <div style="
    width: 100%;
    border-color: #fdbc3b;
    background: #333;
    align-items: center;
    color: #eee;
    display: flex;
    padding-top: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
">
        <img src="https://res.cloudinary.com/dhoovijbu/image/upload/v1648484867/logo_gdjebv.gif"
            style="width: 100%; max-width: 300px;margin-left: 30px;">
        <div class="card-body" style="
    box-shadow: 15px 10px #fdbc3b;
    width: 25rem;
    border: 2px solid #fdbc3b;
    margin-top: 30px;
    border-radius: 10px;
    padding: 30px;
    
    ">
            <h3 class="dots">
                <%=mes%>
            </h3>
        </div>
    </div>
</body>
<!-- <%- include ('../layouts/footer') %> -->
<script src="/js/jquery.min.js"></script>
<script>
    setTimeout(() => {
        $(location).attr('href', '/')
    }, 3000);
</script>