<%- include ('../layouts/header')%>

<body>

    <div class="">
        <div class="login-section">
            <div class=" side-img">
                <div class="poster-index login-poster">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <a href="#"><img class="poster-slide login-slide" src="/img/P1.jpg" alt="Owl Image"></a>
                        <a href="#"><img class="poster-slide login-slide" src="/img/P2.jpg" alt="Owl Image"></a>
                        <a href="#"><img class="poster-slide login-slide" src="/img/P3.jpg" alt="Owl Image"></a>
                    </div>
                </div>
            </div>
            <div class="col-5 side-login">
                <div class="login-form">
                    <a href="/"><img src="/img/logo.gif" alt="logo"></a>
                    <h2 class="login-h1">Đặt lại mật khẩu</h2>
                    <form method="post" class="form-signin">
                        <div class="login-input">
                            <div class="alert alert-danger error-alert" role="alert"><%=mes%></div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="newpass" placeholder="Mật khẩu mới" class="form-control email-input" id="exampleInputPassword1">
                            <span class="error">thông báo lỗi</span>
                        </div>
                        <div class="login-input">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Nhập lại mật khẩu" class="form-control email-input" id="exampleInputPassword1">
                            <span class="error">thông báo lỗi</span>
                        </div>
                        <button type="submit" class="btn-login">
                            Đổi mật khẩu
                        </button>
                        <i><a href="/auth/login">Quay lại trang Đăng nhập!</a></i>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">

    <script>
        $("#owl-demo").owlCarousel({
            animateOut: 'fadeOut',
            dots: false,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            items: 1,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });

    </script>

</body>
<%- include ('../layouts/footer') %>
</html>