<%- include('../layouts/header') %>

<body>
    <%- include('../layouts/admin-sub-header') %>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div class="wrap-headerAd">
                <div class="h5-detail">Thống kê doanh thu</div>
            </div>
            <span class="line-detail"></span>
            <div style="display: flex;">
                <select name="" class="form-select" style="width: 25%; margin: 20px 0;" id="select" onchange="myFunction()">                    
                    <option value="day">Thống kê theo ngày </option>
                    <option value="month">Thống kê theo tháng </option>
                    <option value="film">Thống kê theo phim</option>                    
                </select>
                <ul class="nav nav-tabs menu-stat">
                    <li class="nav-item">
                        <a class="nav-link active" href="#stat-day1" data-bs-toggle="tab" data-bs-target="#stat-day1" role="tab"
                            aria-controls="status" aria-selected="true">Báo cáo</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #eee;" class="nav-link" href="#stat-day2" data-bs-toggle="tab"
                            data-bs-target="#stat-day2" role="tab" aria-controls="status" aria-selected="true">Biểu đồ</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

            </div>           
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/trigger.js"></script>
    <script src="../js/admin-snack.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".tab-content").load("statistical/day .tab-content > *");
    function myFunction() {
        var value = document.getElementById("select").value;        
        $(".tab-content").load(`statistical/${value} .tab-content > *`);
        $(".menu-stat").load(`statistical/${value} .menu-stat > *`);
    }    
</script> 
</html>