<footer class="footer-index">
    <div class="flex-footer">

        <div class="text-footer">
            <div class="text-side">
                <p>Tên Doanh Nghiệp: CÔNG TY TNHH MEGAS VIETNAM</p>
                <p>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 01/11/2021</p>
                <p>Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở kế hoạch và đầu tư Thành phố Đà Nẵng</p>
                <p>Địa chỉ kinh doanh: Tầng 2, Rivera Park - Số 28 Trần Hưng Đạo, Quận Sơn Trà, TP.Đà Nẵng.
                </p>
            </div>
            <div class="icon-side">
                <img src="/img/icon-notify.png" alt="logo-noti" width="200px">
            </div>
        </div>
        <div class="footer-logo">
            <div style="color: rgba(238, 238, 238, 0.733); flex: 1">COPYRIGHT 2022 MEGAS. All RIGHTS RESERVED
            </div>
            <img class="img-logo-footer" src="/img/logo.gif" alt="logo">
            <div class="icon-footer">
                <a href="https://www.facebook.com/nanast519/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-solid fa-globe"></i>
                </a>
                <a href="tel:19000978">
                    <i class="fa-solid fa-phone"></i>
                </a>
            </div>
        </div>
    </div>
</footer>