<div class="col-4">
    <div class="userInfo-col">
        <div class="userInfo-menu">
                <%if (us.photo!=""){%>
                    <img class="user-img" style="border-radius: 50%;" src="<%=us.photo%>" alt="Your avatar">
                <%} else {%>
                    <img class="user-img" style="border-radius: 50%;" src="../img/no_img.webp" alt="Your avatar">
                <%}%>
            <h5><%=us.fullname%></h5>
            <a href="/user/info" class="userInfo-menulist">
                Tài khoản của tôi
            </a>
            <a href="/user/change-info" class="userInfo-menulist">
                Thay đổi thông tin
            </a>
            <a href="/user/purchase" class="userInfo-menulist">
                Vé đặt
            </a>
            <a href="" class="userInfo-menulist">
                Phim yêu thích
            </a>
        </div>
    </div>
</div>