@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Nunito:wght@300;400;500;600;700&family=Rubik:wght@300&family=Saira+Semi+Condensed:wght@100;400;500;600;800&display=swap');

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar {
    width: 9px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f0c673;
}

nav.sticky {
    padding-bottom: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

@media (max-width: 1000px) {
    nav.sticky {
        position: static;
    }
}

@media (max-width: 800px) {
    .btn-overtime {
        font-size: 13px;
        padding: 5px 10px;
    }

    .text-footer,
    .footer-logo {
        flex-direction: column;
    }

    .footer-logo {
        align-items: center;
    }

    .icon-side {
        padding-right: 0px !important;
    }

    .flex-time-detail {
        margin-left: 34px !important;
    }

    .side-img {
        display: none;
        transition: all 0.5 ease;
    }

    .side-login {
        margin-right: 0px !important;
    }

    .login-form img {
        width: 200px !important;
    }

    .login-section {
        justify-content: center !important;
    }

    .login-h1 {
        width: 300px;
        text-align: center;
    }
}

@media (max-width: 520px) {
    .btn-overtime {
        font-size: 11px;
        padding: 3px 5px;
    }

    .time-btn {
        margin: 5px;
    }

    .flex-time-detail {
        margin-left: 16px !important;
    }

    .title-event {
        font-size: 35px;
    }

    .tab-movie {
        font-size: 15px !important;
    }

}

/* .flex-time img{
        width: 50%;
        height: 50%;
    } */


@media (max-width: 400px) {
    nav.sticky {
        position: static;
    }

    .img-logo-footer {
        width: 300px;
    }

    .text-footer,
    .footer-logo {
        flex-direction: column;
    }

    .text-side p {
        line-height: 1.2 !important;
    }

    .icon-side {
        padding-right: 0px !important;
    }

    .index-img-slide {
        height: 200px !important;
    }

    .title-event {
        font-size: 35px;
    }

    .tab-movie {
        font-size: 13px !important;
    }
}

@keyframes face {
    from {
        transform: translateY(0%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes RightToLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes ToptoBottom {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #333;
}

a {
    color: #eee;
}

a:hover {
    color: #fdc85b !important;
}

.container-fluid {
    margin-top: -15px;
}

.index-sign-nav {
    width: 100%;
    background-color: #272727;
    box-shadow: 1px solid rgb(0, 0, 0, .1);
}

.index-sign {
    font-size: 15px;
    padding: .3rem .5rem;
    color: #eee;
}

.index-sign:focus {
    color: #f0c673 !important;
}

.index-span-sign {
    background-color: rgb(156, 156, 156);
    height: 20px;
    width: 1px;
    margin-top: 5px;
}

.index-brand {
    width: 200px;
}

.index-img-logo {
    width: 100%;
}

.navbar-toggler-icon {
    width: 1em !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.index-navbar {
    color: #eee !important;
    text-align: center;
    width: 100px;
    margin: 0 25px !important;
    font-size: 20px;
    height: 60px;
}

.index-navbar:hover {
    border-bottom: 3px solid #fdc85b;

}

.index-scroll {
    width: 100% !important;
}

.index-flex {
    width: 100%;
}

.index-search {
    color: #fdc85b;
    background-color: #fdc85b;
    border-color: #fdc85b;
    height: 44px;
}

.index-search:hover {
    border-color: #eee;
    background-color: #eee;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
    background-color: #fdc85b !important;
    border-color: #eee !important;
}

.btn-check:active+.btn-outline-success:focus, .btn-check:checked+.btn-outline-success:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-input {
    height: 44px;
    font-size: 14px;
    /* position: relative; */
}

.dropdown-menu {
    display: none;
    top: 95%;
    width: 100%;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-part {
    width: 100%;
    margin-right: 10px;
    position: relative;
}

.search-part:focus-within .dropdown-menu {
    display: block !important;
    position: absolute;
}

.search-part .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
    z-index: 9;
}

.search-option {
    display: flex;
    align-items: center;
    align-content: center;
}

.img-option {
    width: 50px;
    margin-right: 20px;
}

.img-option img {
    width: 100%;
}

.title-option h5 {
    font-weight: 600;
    line-height: .7;
    font-size: 18px;
}

.title-option h6 {
    font-size: 16px;
}

.rating-flex {
    display: flex;
}

.rating-flex img {
    width: 30px;
    margin-top: -6px;
}

.work .index-text-slide {
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease-in;
    height: 500px;
    background: rgba(73, 73, 73, 0.801);
    padding-top: 30px;
}

.work:hover .index-text-slide {
    opacity: 1;
}

.index-img-slide {
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    border-radius: 3px !important;
    height: 300px !important;
}

.work:hover .index-img-slide {
    transition: all 0.2s ease;

}

.index-img-cs {
    text-align: left;
    width: 60px !important;
    margin-left: -15px;
    margin-bottom: -15px;
}

.index-subtext {
    font-size: 20px !important;
}

.index-maintext {
    font-weight: bolder;
    margin-right: 10px;
    font-family: 'Lexend Deca', sans-serif;
}

.index-cs {
    display: flex;
}

.index-navbar {
    font-family: 'Lexend Deca', sans-serif;
}

.work p {
    padding-top: 20px;
    color: #eee;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.index-nav-dark {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    padding-bottom: 20px;
    background: #272727 !important;
}

.drop-menu {
    display: none;
    animation: face .3s ease-in-out;
}

.index-dropdown:hover .drop-menu {
    display: block !important;
    position: absolute;
    list-style: none;
    background: #eee;
    padding: 10px;
    border-radius: 0 0 3p 3px;
    z-index: 99;
    font-size: 16px;
    box-shadow: 0 3px 3px rgba(49, 49, 49, 0.2);


}

.dropdown-item {
    animation: ToptoBottom .3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #333;
    color: #eee !important;
    border-radius: 3px;
}

.a-slide {
    color: #eee;
}

.a-slide:hover {
    color: #eee !important;
}

.btn-time-index {
    width: 150px;
}

.slide-time {
    padding: 30px 0px;
    border-bottom: 3px solid #fdc85b;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-section {
    padding-bottom: 30px;
}

.btn-time-index div,
.btn-time-index span {
    font-size: 18px;
    font-weight: 700;
}

.btn-time-index {
    background: #fdc85b;
    border: #fdc85b;
    padding: 10px 20px;
}

.btn-time-index:active {
    background: #333;
    border: #eee;
}

.flex-time {
    display: flex;
    height: 100%;
}

.flex-time img {
    width: 100%;
    height: 300px;
}

.flex-time-movie {
    margin-left: 50px;
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    align-content: flex-start;
}

.h6-poster {
    font-size: 30px;
    color: #eee;
    font-weight: 600;
}

.side-poster {
    font-size: 18px;
    color: #eee;
    padding-bottom: 10px;
}

.english-title {
    display: flex;
    height: 50px;
}

.cs {
    width: 60px;
}

.img-cs {
    width: 100%;
}

.btn-overtime {
    background: #fdc85b;
    border-color: #fdc85b !important;
    color: #333 !important;
    padding: 5px 30px
}

.btn-overtime:hover,
.btn-overtime:focus {
    background: #333 !important;
    color: #eee !important;
    border-color: #eee !important;
}

.movie-time {
    margin: 10px;
}

.flex-title a {
    flex: 1.5;
}

.poster-slide {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 3px;
}

.poster-index {
    width: 100%;
}

.col-md-12 {
    padding-bottom: 50px;
}

.poster-movie-div {
    padding-bottom: 40px;
    padding-top: 10px;
    border-bottom: 3px solid #fdc85b;
}

.img-show {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.img-show img {
    width: 100%;
    max-width: 900px;
    box-shadow: 1px solid rgb(0, 0, 0, .1);
}

.ftco-section {
    padding-bottom: 100px;
}



.tab-phim {
    border-bottom: 3px solid #fdc85b;
}

.tab-show {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    color: #eee;
}

.tab-show.active {
    background: #fdc85b !important;
    border-color: #fdc85b !important;
    color: #333;
}

.tab-show:hover {
    color: #fdc85b;
    border-color: #fdc85b !important;
}

.event-section {
    padding: 70px;
    background-image: url(/img/bg-dark.webp);

}

.title-event {
    color: #eee;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.footer-index {
    background: url(/img/bg-grid.webp) top center repeat;
}

.flex-footer {
    padding: 70px 50px 30px;
}

.text-footer {
    font-size: 18px;
    color: #eee;
    padding-bottom: 30px;
    border-bottom: 2px solid #fdcc5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    padding-top: 20px;
}

.img-logo-footer {
    flex: 2;
    max-width: 300px;
}

.icon-footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 30px;
    color: rgba(238, 238, 238, 0.733);
}

.icon-footer i {
    margin-right: 20px;
    width: 20px;
}

.icon-side {
    padding-right: 100px;
}

.text-side p {
    line-height: 1;
    font-weight: 600;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.coming-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.coming-movie {
    width: 300px;
}

.flex-cs {
    flex-wrap: wrap;
}

.row-coming {
    padding: 30px 0px 70px 0px;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: 20px;
}

.a-coming:hover {
    color: #eee !important;
}

.flex-img {
    padding-bottom: 20px;
}

.dropdown1 {
    min-width: 100px;
    position: relative;
    display: inline-block;
}

.dropdown1:hover .drop-menu {
    display: block;
    position: absolute;
    list-style: none;
    background: #eee;
    padding: 10px;
    z-index: 99;
    font-size: 16px;
    box-shadow: 0 3px 3px rgb(49 49 49 / 20%)
}

.user-login {
    color: #eee !important;
}

.user-drop {
    border-bottom: 1px solid #333;
}

.nav-pills {
    margin-bottom: 1px !important;
}
.grid-cate{
    display: grid;
    grid-template-columns: auto auto auto
}

/*user*/

.userInfo-background {
    margin-bottom: 80px;
    margin-top: 80px;
    min-height: 500px;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #2b2b2b;
    border: 5px solid #f5e3c1;
    position: relative;
    box-shadow: 0 0 16px hsl(40, 98%, 67%), 0 6px 20px rgba(255, 255, 255, 0.2);
}

.user-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 50%;
}
.user-img-preview{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: 50% 50%;
}

.userInfo-col {
    font-size: 1rem;
    margin: 20px 10px 0px 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 5px;
    height: 600px;
    color: #eee
}

.userInfo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    padding: 20px;
    line-height: 2;
    height: 100%;
    padding-top: 50px;
}
.userInfo-menu h5{
    margin-bottom: 30px;
    margin-top: 10px;
}

.userInfo-menulist {
    border: 3px solid #fdc85b;
    border-radius: 20px;
    background: #fdfdfd;
    width: 70%;
    color: #333;
    margin: 0 0 10px;
    padding-left: 20px;

}

.userInfo-menulist:hover {
    color: #eee !important;
    background-color: #fdc85b;
    box-shadow: 0 0 5px hsl(40, 93%, 78%), 0 2px 10px rgba(255, 255, 255, 0.2);
}

.User-title {
    margin: 20px 20px 0 20px;
    font-size: 0.8rem;
    border-bottom: 1px solid #f0c673;
}

.userInfo-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.userInfo-left {
    padding: 40px 0 0 40px;
    flex-grow: 2;
}

.userInfo-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#error-forgot{
    color: indianred;
    font-style: italic;
    font-size: 14px;
    margin-left: 190px;
}

.label{
    background:rgba(0,0,0,0);
    border:none;
}

.info-element {
    margin-bottom: 0.5rem;
}

.info-element input {
    width: 200px;
    border-radius: 20px;
    padding: 0 20px;
}

.btn-img {
    cursor: pointer;
    border: 2px solid #fdc85b;
    border-radius: 5px;
    color: #333;
    text-align: center;
    background: #eee;
    margin-top: 20px;
}

.btn-img:hover {
    color: #eee;
    background: #fdc85b;
}

/* .nav-link:focus, .nav-link:hover{
    color: #f0c673 !important;
} */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333;
    background-color: rgb(254 199 88);
    border: none !important;
}

.menu-status {
    border-bottom: 2px solid #fdc85b;
}

.optionEdit {
    color: #eee;
}

.optionEdit:hover {
    color: #eee !important;
    list-style: circle;
}

.purchase-search {
    margin-top: 10px;
    font-size: 15px;
}

.purchase-search input[type=text] {
    font-size: 1rem;
    font-style: italic;
    line-height: 30px;
    height: 39px;
}

.purchase-search button {
    float: left;
    width: 5%;
    background: #fbd485;
    color: white;
    line-height: 30px;
    height: 30px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0px;
}

.purchase-search button:hover {
    background: #fdc85b;
}

.purchase-search::after {
    content: "";
    clear: both;
    display: table;
}
.form-search-date{
    display: flex;
    width: 100%;
}
.purchase-order {
    margin-left: 20px;
    margin-right: 20px;
}
.input-purchase{
    width: 100%;
}

.purchase-order .purchase-item:last-child {
    border-bottom: 2px solid #f0c673;
}

.purchase-item {
    padding: 10px 0px 10px 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #f5e3c1;
}

.img-order-list {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.name-order-list, .total-order-list, .price-order-list {
    font-style: italic;
    font-size: 1rem;
}

.total-order-list {
    font-size: 0.8rem;
}

.price-order-list {
    color: #fdc85b;
}

.total-order {
    font-size: 16px;
    text-align: end;

}

.price-order {
    padding: 20px 40px;
    color: #fdc85b;
}

.footer-order {
    display: flex;
    justify-content: space-between;
}

.time-order {
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: #ebebeb;
    font-size: 0.8rem;

}

.btn-each-order {
    padding-bottom: 20px;
    padding-right: 40px;
}

.contact-order {
    padding: 5px 20px;
    margin-right: 20px;
    background: #fbd485;
    color: #333;
    border: none;
    border-radius: 5px;
}

.cancel-order {
    padding: 5px 20px;
    border: 1px solid #ebebeb;
    background: #ffffff;
    border-radius: 5px;
}

.contact-order:hover {
    background: #fdc85b;
}

.cancel-order:hover {
    border: 1px solid #ebebeb;
    background: #ebebeb;
}
.row-detail{
    display: flex;
}
.row-detail div:nth-child(2){
    width: 60%;
}
.row-detail div:first-child, .row-detail div:last-child{
    width: 20%;
}
.detail-purchase{
    background-color: transparent;
    font-style: italic;
    border: none;
    font-size: 1rem;
}
.purchase-film{
    margin-top: 5px;
    background-color: #454545;
    cursor: pointer;
    border-radius: 5px;
}
/* login */
.login-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.login-poster {
    width: 50%;
    position: fixed;
}

.side-img {
    height: 100%;
    padding-right: 70px;
    padding-left: 0px;
    width: 100%;
    max-width: 690px;

}

.login-slide {
    width: 650px !important;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.login-h1 {
    color: #f0c673;
    font-weight: 600;
    font-family: 'Saira Semi Condensed', sans-serif;
    padding-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.login-input i {
    position: absolute;
    z-index: 99;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.login-input {
    margin-top: 20px;
}

.email-input {
    height: 44px;
    font-size: 15px;
    position: relative;
    border-radius: 50px;
    width: 300px;
    padding: 10px 20px 10px 50px
}

.side-login {
    margin-right: 80px;
}

.btn-login {
    margin: 15px 0;
    width: 200px;
    background-color: #f0c673;
    border-color: antiquewhite;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px
}

.btn-login:hover {
    background-color: #fdbc3b;
    color: #eee;
}

.login-form img {
    width: 250px;
}

.form-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: indianred;
    margin-left: 20px;
    font-style: italic;
    display: none;
}

.error-alert {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}


/* register */

.register-form {
    padding-top: 20px;
}

.register-slide {
    width: 650px !important;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* category */

.category-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 100px 50px 150px;
}

.category-title {
    color: #eee;
    font-size: 20px;
    font-weight: 600;
    width: 175px;
    margin-left: 0 !important;
    border-bottom: 3px solid #eee;
}

.category-title:hover {
    color: #f0c673;
}

.category-tab {
    margin-top: 30px;
    font-size: 22px;
    padding: 10px 50px;
}

.category-select {
    width: 185px;
    border-color: #eee;
    outline: none;
    box-shadow: 3px 4px 4px rgba(49, 49, 49, 0.301) !important;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.category-option {
    padding: 10px;
    border-radius: 5px;
}

.category-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-side li {
    list-style: none;
}

.category-drop {
    width: 175px;
}


.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>input:checked~label{
    color: #fdbc3b;
}

.rating>input:not(:checked)>label{
    color: #ddd;
}
.fulled{
    color: #fdbc3b !important;
}

.category-star {
    margin-top: 30px;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: 20px;
}

.a-coming:hover {
    color: #eee !important;
}

.flex-img-cate {
    padding-bottom: 20px;
    width: 250px;
}

.movie-side {
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.category-span {
    width: 2px;
    background: #f0c673;
    margin: 0 20px
}

.poster-movie {
    width: 250px !important;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}

.coming-movie-cate {
    width: 250px;
    margin-right: 55px;
}

.h5-poster {
    font-size: 25px;
    color: #eee;
    font-weight: 600;
}

.csc {
    width: 50px;
}

.cate-title {
    height: 40px;
}
.rating-cate{
    font-size: 18px;
}
.flex-cate{
    display: flex;
    flex-direction: column;
}

/* loading */
.wrapper {
    width: 200px;
    height: 60px;
    position: sticky;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.body-loading {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 284vh;
    position: fixed;
    background-color: rgb(133 131 131 / 88%);
    z-index: 999;
    display: none;
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left: 15%;
}

/* detail */
.detail-img {
    width: 300px;
    flex: 2;
}

.detial-movie {
    padding-top: 50px;
}

.detail-side {
    display: flex;
    justify-content: flex-start;
}

.detail-text {
    flex: 5;
    margin-left: 100px;
}

.subin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    color: #eee;
}

.sub2 {
    padding-left: 10px;
    flex: 10;
}

.sub1 {
    font-weight: 700;
    flex: 2;
}

.trailer-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

.trailer-title {
    width: 300px;
    padding-bottom: 30px;
}

.frame-trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 30px 60px;
    border-bottom: 3px solid;
    border-radius: 30px;
    box-shadow: 15px 20px 2px;
    background: #2b2b2b6e;
}

.span-detail {
    width: 100%;
    height: 2px;
    background-color: #f0c673;
    margin-top: 10px;
    margin-bottom: 20px;

}

.btn-buy {
    margin-top: 30px;
    width: 140px;
    background-color: #f0c673;
    border-color: #f0c673;
    color: #333;
    font-weight: 600;
    margin-left: 55px;
}

.btn-buy:hover {
    background-color: #eee;
    border-color: #f0c673;
    color: #333;
}

.flex-cs-detail {
    margin-top: 50px;
}

.btn-time:active:focus {
    box-shadow: 1px 1px 1px #f0c673 !important;
    outline: none !important;
}

.form-select:focus {
    border-color: #333;
    box-shadow: none !important;
}

.form-group {
    padding-top: 10px;
    margin-bottom: 0px;
}

.modal-body {
    padding: 20px 30px;
}
.detail-body{
    margin: 0 auto;
    width: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.btn-submit {
    background-color: #fdbc3b;
    border-color: #fdbc3b;
    color: #333;
    font-weight: 600;
}

.modal-title {
    font-weight: 600;
}

.time-btn {
    margin: 0 1px;
}

.flex-time-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0px;
}

.comment {
    display: block;
    transition: all .5s;
    background: #7a7a7a8c;
    height: 100%;
    min-height: 50px;
    margin-left: 30px;
    border-radius: 50px;
    padding: 10px 30px
}

.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;
    color: #eee;
    width: 100%;
    margin-left: 30px;
}

.container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid fdbc3b;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #fdbc3b;
    color: #333;
    padding: 10px 30px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: .5s all;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
}

button.primaryContained:hover {
    color: #333;
    background: #eee;
}

.comment-side {
    font-size: 30px;
    color: #fdbc3b;
    font-weight: 600;
    border-bottom: 1px solid;
}

.comment-section {
    padding-bottom: 100px;
}

.commented {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: end;
    border-bottom: 1px solid #585353;
    padding: 20px 20px 10px 20px;
}

.commented img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.comment-text {
    margin-top: 30px;
}

.comment-text textarea {
    height: 100%;
    resize: none;
    font-size: 16px;
    padding: 10px 20px;
}

.comment p {
    align-content: center;
    margin-bottom: 0px;
    font-size: 16px;
    color: #eee;
}

.star-comment {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.star-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 8;
}

.user-comt{
    flex: 1;
}

.rating-text {
    height: 45px;
    margin-left: 50px;
}

.container-comment {
    background: #454545;
    padding: 50px 70px;
}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 40px;
}
.rating-movie{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.star-point{
    display: flex;
    justify-content: flex-end;
}
.star-point span{
    font-size: 25px;
    margin-top: 9px;
    margin-right: 20px;
    color: #eee;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.rating-film{
    height: 30px;
}
.rating-film>label{
    font-size: 20px;
}
.rating-comt{
    margin-left: 40px;
}
.name-comt{
    color: #eee;
    margin-top: 5px;
}
.time-comt{
    margin-left: 50px;
    color: #eee;
    font-style: italic;
    opacity: .8;
    font-size: 11px;
    margin-top: 5px;
}
.star-text:hover .btn-comt{
    display: flex;
    justify-content: flex-end;
    width: 850px;
    position: absolute;
    transition: all .3 ease;
    animation: ToptoBottom .3s ease-in-out;
}
.btn-comt{
   display: none;
}
.btn-sua, .btn-xoa{
    margin-right: 10px;
    padding: 5px 20px;
    background: none !important;
    color: #fdbc3b !important;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: .5s all;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
}
.btn-xoa:hover, .btn-sua:hover{
   background: rgb(76 76 76) !important;
}
#commentp{
    display: block;
}
#text-sua, #btn-save, #btn-huy{
    display: none;
    margin-left: 20px;
    transition: all .4 ease;
    animation: face .4s ease-in-out;
}
#btn-save, #btn-huy{
    margin-top: 10px;
}
.comment{
    color: #eee;
    transition: all .4 ease;
    animation: face .3s ease-in-out;
}
.spinner-save{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}


 /* detail order */
.detail-movies{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.frame-order {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.book-title {
    background: black;
    color: azure;
}

.book-sub {
    background: beige;
}

.frame-ghe{
    padding: 20px 200px;
  }
  .frame-sub{
    padding: 30px 10px 30px 50px;
      border: 1px solid #eee;
      background: beige;
      border-radius: 10px;
  }
  .btn-seat{
    background: rgb(254 199 88) !important;
      box-shadow: none !important;
      border: none !important;
      padding: 5px 10px !important;
      width: 50px;
      color: white !important;
  }
  .btn-couple{
    background: indianred !important;
    color: white !important;
  }
  
  .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, 
  .show>.btn-primary.dropdown-toggle{
    background: white !important;
    color: black !important;
  }
  .td-order{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .couple:active+.btn-pcouple, .couple:checked+.btn-couple, .btn-couple.active, .btn-couple:active, 
  .show>.btn-couple.dropdown-toggle{
    background: white !important;
    
  }
  .screen {
    height: 120px;
    width: 100%;
    margin-bottom: 50px;
    transform: rotateX(-48deg);
    box-shadow: 0 13px 10px -8px rgba(255, 255, 255, 0.7);
    border-bottom: 100px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .btn-couple{
    max-width: 106px;
    width: 100%;
    height: 40px;
  }
  .table-bordered{
      margin-bottom: 0px;
  }
  .card-detail img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .combo-section{
      background: beige;
      margin-top: 50px;
  }
  .card-detail{
    width: 12rem;
    margin: 20px 30px;
    background: white;
    border-radius: 20px;
  }
  .combo{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 82px;
    justify-content: flex-start;
 
  }
  .buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
    height: 30px;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
    height: 30px;
    background: #f0c673;
    border: none;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
    height: 30px;
    background: #f0c673;
    border: none;
}
.is-form.minus:hover, .is-form.plus:hover{
    background: #f0c67387;
}
.input-qty {
    background-color:#fff;
    height: 30px;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.container-combo{
    border-radius: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 50px 0px;
    border: 4px dashed #fdc85b;
    box-shadow: 0 0 16px hsl(40deg 98% 67%), 0 6px 20px rgb(255 255 255 / 20%);
    max-width: 1000px;
    position: relative;
}
.btn-order-section{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.btn-back{
    background: #eee;
    height: 40px;
    margin-left: 0px;
}
.btn-back:hover{
    background: transparent;
    border: 2px dashed #fdc85b;
    color: #fdc85b;
}
.btn-order{
    height: 40px;
}
.btn-order:hover{
    background: transparent;
    border: 2px dashed #fdc85b;
    color: #fdc85b;
  
}
.color-choice{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}
.seat-color{
    margin-right: 50px;
}
.seat-color span{
    color: #eee;
    font-style: italic;
}
.note-seat{
    padding-top: 30px;
    display: flex;
}
.fancy-border {
    border: 4px dashed #fdc85b;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: #333;
    top: -56px;
    right: 395px;
  }
  .text-fancy{
    position: absolute;
    color: #eee;
    font-size: 60px;
    bottom: 0px;
    top: -9px;
    right: -48px;
    transform: rotate(-7deg);
    font-weight: 600;
    text-shadow: 0 0 16px hsl(40deg 98% 67%), 0 6px 20px rgb(255 255 255 / 20%);
    font-family: 'Saira Semi Condensed', sans-serif;
  }
  .combo-type{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 100px 10px;
  }
  .type1{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 0 16px hsl(40deg 98% 67%), 0 6px 20px rgb(255 255 255 / 20%);
    font-family: 'Saira Semi Condensed', sans-serif;
  }
  .btn-seat-small{
    margin: 10px 2px;
}
.td-order-small{
    justify-content: center;
}

/*ADMIN*/

/*SHOWTIME MANAGEMENT*/
.btn-admin{
    cursor: pointer;
}
.admin-navbar {
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    color: #eee !important;
    text-align: center;
    margin: 0 25px !important;
    font-size: 20px;
}
.wrapper-index{
    padding: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .ad-movie{
    padding: 70px 30px 50px 40px;
        width: 100%;
        background: #eee;
  }
  .h5-poster {
    font-size: 25px;
    color: #eee;
    font-weight: 600;
}
  .h5-detail{
    font-size: 30px;
      font-weight: 600;
      color: #333;
      padding: 5px;
      background: rgb(254 199 88);
      width: 25%;
      text-align: center;
      border-radius: 10px 10px 0 0;
      box-shadow: 8px 2px 1px 0px rgb(243 205 98 / 38%);
  }
  .btn1{
      margin-right: 10px;
      width: 140px;
  }
  .btnSearchTime{
    max-height:40px; margin:0px 10px; font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fdc85b;
  }
  .btnSearchTime:hover{
      background-color: #fdbc3b;
  }
  .line-detail{
    height: 3px;
        background: rgb(254 199 88);
        width: 93%;
        position: absolute;
  }
  .wrapModal{
      display: flex;
      flex-direction: column;
  }
  .ad-phim1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-bottom: 10px;
  }
  .rowShowTime{
      display: flex;
      padding-left: 2rem;
  }
  .rowST{
      margin-bottom: 20px;
      display: flex;
  }
  .label-date{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  .labeltime{
    padding: 10px;
  }
  .input-date{
    display: flex;
    flex-direction: column;
  }
  .lc-suatchieu{
      display: flex;
      width: 670px;
      padding-left: 2rem;
      position: relative;
  }
.choose-showtime{
    display: flex;
    padding-bottom: 10px;
}
.choose-showtime label{
    width: 100px;
}
.choose-showtime input{
    flex: 1;
    width: 140px;
}
.hourST select{
    width: 5rem !important;
    margin: 0 5px 0 5px;
}
.choose-showtime select {
    width: 140px ;
}
.col-2{
    width: 10%;
}
  .btn-SC{
      width: 150px;
      border-radius: 5px;
      background: #f6efe2;
      border: none;
      margin-bottom: 10px;
      line-height: 2rem;
      margin-top: 30px;
      margin-left: 2rem;
  }
  .btn-SC:hover{
    background: #f5e3c1;
  }
  .saveDelete, .btnDelSC{
      margin-left: 10px;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
  }
  .btnDelSC{
      height: 36px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1090;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  .ad-phim{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .modal-left{
    flex: 1;
  }
  
  .modal-right{
    width: 100%;
    max-width: 470px;
    padding-left: 10px;
    margin-right: 20px;
  }
  .tdTime, .tdDate, .tdOption{
      position: relative;
      height: 100%;
  }
  .tdTime{
      width: 11%;
      flex: 5;
  }
  .tdDate, .tdOption{
      flex: 1;
  }
.dateShowTime{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    text-align: center;
    border-bottom: 1px solid #a4a3a3;
  }
  .timeShowTime{
    height: 100%;
    width: 100%;
    padding-right: 30px;
    flex: 5;
    padding-left: 20px;
  }
  .dateShowTime div{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
  }
 
  .optionShowTime div{
    display: flex;
    align-items: center;
    padding-top: 7px;
    height: 60px;
    padding-left: 10px;
  }
  .date-div{
      flex: 1;
  }
  .optionShowTime{
      flex: 1;
  }

  .timeShowTime div{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .timeShowTime div button{
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #fdc85b;
    height: 100%;
  }
  th {
      font-size: 20px;
  }
  .td-sc{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ql-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f0c673;
  }
.select-time{
    height: 36px;
}
.close-sc{
    position: absolute;
    top: 10px;
    font-size: 20px;
}

  /* model giá vé */
  .check-price{
      display: flex;
  }
 .check-label{
     font-weight: 600;
     width: 200px;
 }
  .price-ticket{
    display: flex;
    margin-left: 20px;
  }
  .price-ticket label{
    width: 120px;
  }
.price-ticket input{
    height: 30px;
    width: 150px;
}
.price-ticket span{
    margin-left: 10px;
}
.price-seat{
    width: 100%;
}
.price-ticket-time{
    display: flex;
    margin-left: 0px;
}
.input-datetime{
    width: 240px !important;
    margin: 0 20px;
    position: relative;
}
.datetime-price{
    padding-top: 10px;
    padding-bottom: 20px;
}
.fa-arrow-right{
    position: absolute;
    left: 296px;
    top: 48px;
}
.del1{
    font-size: 1rem;
    background-color: rgb(230, 228, 228) !important;
}
.del1:hover{
    background-image: -webkit-repeating-linear-gradient(90deg, rgba(229,230,215,1) 0%, rgba(218,216,191,1) 44%, rgba(245,229,182,1) 100%);
    background-image: -moz-repeating-linear-gradient(90deg, rgba(229,230,215,1) 0%, rgba(218,216,191,1) 44%, rgba(245,229,182,1) 100%);
    background-image: -ms-repeating-linear-gradient(90deg, rgba(229,230,215,1) 0%, rgba(218,216,191,1) 44%, rgba(245,229,182,1) 100%);
    background-image: -o-repeating-linear-gradient(90deg, rgba(229,230,215,1) 0%, rgba(218,216,191,1) 44%, rgba(245,229,182,1) 100%);
    background-image: repeating-linear-gradient(90deg, rgba(229,230,215,1) 0%, rgba(218,216,191,1) 44%, rgba(245,229,182,1) 100%);
}
.alert-footer{
    display: flex;
    align-items: flex-end;
}
.footer-SC{
    flex-direction: column;
    padding-right: 40px;
    padding-top: 1px;
    width: 100%;
    position: relative;
}
.footer-add-SC{
    flex-direction: column;
    padding-right: 40px;
    padding-top: 1px;
    height: 90px;
    width: 100%;
    position: relative;
}
.footer-add{
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 1px;
    height: 90px;
    width: 100%;
    position: relative;
}
.alertEdit, .alertAdd, .alert{
    color: indianred;
    font-size: 15px;
    font-style: italic;
}
.footer-btn{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.close-CL{
    margin-right: 10px;
    height: 43px;
}
.close-AC{
    height: 43px;
    padding: 0 10px !important;
}
.footer-add-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    right: 30px;
}
  /*FILM MANAGEMENT*/
  .img-add{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .line-img{
    height: 1px;
    background: black;
    width: 80%;
    margin-left: 20px;
  }
  .saveEdit{
      padding: 3px !important;
      margin-top: 4px !important;
  }
  .btn-common{
    cursor: pointer;
    background-color: #fdcc5d;
    border-color: #fdcc5d;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .btn-common:hover{
    background-color: #fdbc3b;
  }
  .modal-body-plus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 260px);
    font-size: 15px;
  }
  .modal-edit-film{
      padding-top: 50px;
  }
  .btn-add-film{
      margin-left: 0px !important;
  }
  .label-chitiet{
    width: 120px;
    font-size: 16px;
      font-weight: 700;
  }
  
.input-sua{
    width: 340px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    padding: 2px;
    border-radius: 5px;
  }
  .input-ten{
    display: flex;
    flex-direction: column;
  }
  .input-sua-area{
    width: 350px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    padding: 2px;
    border-radius: 5px;
    resize: none;
    height: 100%;
  }
  
  .btn-mode button{
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      opacity: .7;
      margin-left: 1rem;
  }
.fa-pencil-square-o{
    font-size: 24px;
}
  .btn-mode button:hover{
    opacity: 1;
  }
  #modalAddFilm{
      padding-top: 50px;
  }
  .radio-choose{
    width: 20%;
  }
  .add-cate{
      display: flex;
      flex-direction: column;
  }
  .btn-CT{
    width: 150px;
    border-radius: 5px;
    background: #f6efe2;
    border: none;
    line-height: 2rem;
  }
  .selectadd, .selectedit{
    width: 230px;
    height: 30px;
  }
  .lc-category{
      display: flex;
      position: relative;
  }
  .close-ct{
    position: absolute;
    top: 6px;
    font-size: 20px;
  }
  .search-admin{
    display: flex;
  }
  .search-admin button{
    margin-left: 2px;
    float: left;
    background: #fbd485;
    color: #333;
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0px;
    width: 10%;
    height: 39px;
    border: none;
  }
  .poster-admin-film{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  .title-img{
      font-weight: 600;
      font-size: 16px;
  }
  .btn-bold{
      font-weight: 600;
  }
  .imgavt{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  .modal-room{
      width: 40%;
  }
  .dateAdd{
    height: 40px;
  }
  .typeRoom{
      height: 40px;
  }
  /* USER MANAGEMENT */
  .span-error{
    font-size: 12px;
    color: #f93838;
    font-style: italic;
  }
  .ad-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .userPosition-select{
    height: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 5px;
  }
  .userPosition-select:focus {
    border-color: #333;
    box-shadow: none !important;
}
.btn-add-room{
    margin-left: 0px !important;
}
/* bill */

.bill{
    background: antiquewhite;
    padding: 50px;
    max-width: 700px;
    display: flex;
    width: 100%;
    align-items: center;
}
.bill-container{
    padding: 50px 220px;
}
.bill-section h2{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 800;
}
.bill-section{
    flex: 6;
    padding-left: 20px;
}
.bill-code{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-bill{
    width: 120px;
    display: inline-block;
}
.showtime-bill{
    padding: 20px;
    border: 2px dashed;
    background: #a4a3a3;
    color: currentColor;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.note-bill{
    font-style: italic;
    font-size: 12px;
}

/* check order */

.check-input{
    border-radius: 20px;
    padding: 2px 20px;
    border: 2px solid;
    height: 30px;
}
.check-text{
    margin-bottom: 10px;
}
.check-showtime{
    max-width: 100%;
}
.note-bill-check{
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
}
.select-pay{
    height: 30px;
    border-radius: 20px;
    padding: 2px 10px;
}

/* event */
.h5-detail {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    padding: 5px;
    background: rgb(254 199 88);
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 8px 2px 1px 0px rgb(243 205 98 / 38%);
}

.line-detail {
    height: 3px;
    background: rgb(254 199 88);
    position: absolute;
}

.gia-price {
    padding: 50px 100px;
}

.sukien {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-top: 20px;
}

.sukien-img {
    width: 400px;
    flex: 1;
}

.sukien-img1 {
    width: 400px;
    text-align: center;

}

.sukien-text {
    color: #eee;
    padding: 0px 50px 50px 0px;
    font-size: 15px;
}

.sukien-title {
    font-size: 24px;
    font-weight: 700;
}

.sukien-sub {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    opacity: 0.5;
}

#sukien_sub1 {
    align-items: center;
    width: 960px;
    margin: 0px auto;

}
.event-title{
    padding-top: 50px;
}
.event-title h4{
    font-weight: 600;
    color: #eee;
}
.event-body{
    display: flex;
    justify-content: space-between;
}
.event-img{
    text-align: center;
    padding: 40px 0px;
}
.event-img img{
    width: 500px;
}
.container-event{
    max-width: 1300px;
}
.sukien-film img{
    width: 350px;
}
.event-video{
    text-align: center;
    padding: 40px 0px;
}
.span-event{
    height: 1px;
    width: 100px;
    background: #f0c673;
    margin-bottom: 10px;
}
.event-about-text h6{
    color: #eee;
    font-weight: 700;
}
.event-about{
    padding-top: 10px;
    padding-bottom: 20px;
}
.event-about:hover{
    opacity: .8;
    transition: all .5 ease;
}
.h6-other{
    font-weight: 700;
    color: #eee;
}
.date-event{
    font-style: italic;
    font-size: 13px;
    padding-bottom: 20px;
    color: #a4a3a3;
}
.btn-viewmore{
    background: transparent;
    border: 2px solid;
    color: #f0c673;
    padding: 10px 30px 10px 20px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.btn-viewmore:hover{
    background: #f0c673;
    color: #333;
}
.event-btn{
    text-align: center;
}
.fa-caret-right{
    position: absolute;
    bottom: 16px;
    right: 17px;
}
.sukien-about{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.sukien-info{
    padding-left: 30px;
}
.gia-price a:hover{
    color: #a4a3a3 !important;
}
.sukien-tt{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}
