<script src="/js/html5-qrcode.min.js"></script>
<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>

    <div class="container-bill">
        <div class="col qr-container noPrint">
            <div style="width:500px;" id="reader"></div>
        </div>
        <div class="container container-qr warning ">
            <div class="result-bill" id="result"></div>
        </div>
    </div>
    <script type="text/javascript">
        function onScanSuccess(qrCodeMessage) {
            $.ajax({
                url: "/qrcode/scan-bill",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ qrcode: qrCodeMessage }),
                success: function (result) {
                    if (typeof result == 'object') {
                        $('.container-bill').html(`<form>
                <div class="qr-bill">
                    <div class="qr-info">
                        <div class="qr-bill-section">
                            <h2>Hóa đơn</h2>
                            <div class="bill-text">
                                <div class="bill-qr">ID: </div>
                                <span style="font-style: italic;">315471624812</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Thời gian xuất: </div>
                                <span style="font-style: italic;">24/05/2022 15:43</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Tên khách hàng: </div>
                                <span style="font-style: italic;">Diệu Ny</span>
                            </div>
                            <div class="showtime-bill show-qr">
                                <div class="bill-text" style="display: flex;">
                                    <div class="name-bill name-qr">Tên phim: </div>
                                    <div>
                                        <div>ETERNAL</div>
                                        <div>Chủng tộc bất tử</div>
                                    </div>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Suất chiếu: </div>
                                    <span style="font-weight: 600;">24/05/2022 19:30PM</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Rạp: </div>
                                    <span style="font-weight: 600;">CINEMA 1</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Ghế: </div>
                                    <span style="font-weight: 600;">H7, H8</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Combo: </div> 
                                    <span>1 x Bắp, 1 x Nước</span>
                                </div>
                            </div>
                            <div class="print-section">
                                <button class="form-control btn-print noPrint" onclick="window.print()">Sử dụng</button>
                            </div>
                        </div>
                    </div>
                </div>
          </form>`)
                    } else {
                        $('.warning').html(result);
                    }
                }
            })
        }
        function onScanError(errorMessage) {
            //handle scan error
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);
    </script>

</body>
