<script src="/js/html5-qrcode.min.js"></script>
<%- include ('../layouts/header') %>

    <body>
        <%- include ('../layouts/sub-header') %>

            <div class="container-bill">
                <div class="col qr-container noPrint">
                    <div style="width:500px;" id="reader"></div>
                </div>
                <div class="container container-qr warning ">
                    <div class="result-bill" id="result"></div>
                </div>
                <div class="container" style="text-align: -webkit-center;">
                    <div class="code-place">
                        <h6>Nhập mã code</h6>
                        <div class="code-extra">
                            <input type="text" class="form-control codeBackup" name="" placeholder="Nhập code" id="">
                            <button class="btn-code confirmCodeBackup" onclick="onCodeBackupSuccess();">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>

            
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
        function onScanSuccess(qrCodeMessage) {
            $.ajax({
                url: "/qrcode/scan-bill",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ qrcode: qrCodeMessage }),
                success: function (result) {
                    if (typeof result == 'object') {
                        $('.container-bill').html(`
                <div class="qr-bill">
                    <div class="qr-info">
                        <div class="qr-bill-section">
                            <h2>Hóa đơn</h2>
                            <div class="bill-text">
                                <div class="bill-qr">ID: </div>
                                <span class='idBill' style="font-style: italic;">${result.id}</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Thời gian xuất: </div>
                                <span style="font-style: italic;">${result.timePrint}</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Tên khách hàng: </div>
                                <span style="font-style: italic;">${result.fullname}</span>
                            </div>
                            <div class="showtime-bill show-qr">
                                <div class="bill-text" style="display: flex;">
                                    <div class="name-bill name-qr">Tên phim: </div>
                                    <div>
                                        <div>${result.nameEN}</div>
                                        <div>${result.nameVN}</div>
                                    </div>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Suất chiếu: </div>
                                    <span style="font-weight: 600;">${result.date} ${result.time}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Rạp: </div>
                                    <span style="font-weight: 600;">${result.room}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Ghế: </div>
                                    <span style="font-weight: 600;">${result.ticket}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr" style="flex:3">Combo: </div> 
                                    <span style="flex:5">${result.snack}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr" style="flex:3">Tổng tiền: </div> 
                                    <span style="flex:5">${formatNumber(result.total)} VNĐ</span>
                                </div>
                            </div>
                            <div class="print-section">
                                <button class="form-control btn-print noPrint" onclick="checkInBill(this)">Sử dụng</button>
                                <button class="form-control btn-print noPrint" onclick="window.print()">In</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="form-control btn-print btn-backQR noPrint">
                    <a href='/qrcode/scan-qrcode'>Quay lại</a>
                    </button>
          `)
                    } else {
                        $('.container-bill').html(`<div class="no-show">
                        <h1 style="color:white">${result}</h1>
                        <img src="/img/movie.gif" alt="">
                    </div>   
                    <button class="form-control btn-print btn-backQR noPrint">
                    <a href='/qrcode/scan-qrcode'>Quay lại</a>
                    </button>`);
                    }
                }
            })
        }
        
        function onScanError(errorMessage) {
            //handle scan error
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);

        function checkInBill(th) {
            var idBill = $('.idBill').text();
            Swal.fire({
                icon: 'question',
                title: 'Bạn có chắc chắn hành động này ?',
                text: 'Mỗi mã QR chỉ sử dụng được 1 lần',
                showCancelButton: true
            }).then((confirm) => {
                if (confirm.isConfirmed) {
                    $.ajax({
                        url: "/qrcode/check-in",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ idBill: idBill }),
                        success: function (result) {
                            if (result=='success') {
                                th.disabled = true;
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công',
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            }
                        }
                    })
                }
            })
        }

        function onCodeBackupSuccess(){
            var codeBackup=$('.codeBackup').val();
            $.ajax({
                url: "/qrcode/code-backup",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ qrcode: codeBackup }),
                success: function (result) {
                    if (typeof result == 'object') {
                        $('.container-bill').html(`
                <div class="qr-bill">
                    <div class="qr-info">
                        <div class="qr-bill-section">
                            <h2>Hóa đơn</h2>
                            <div class="bill-text">
                                <div class="bill-qr">ID: </div>
                                <span class='idBill' style="font-style: italic;">${result.id}</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Thời gian xuất: </div>
                                <span style="font-style: italic;">${result.timePrint}</span>
                            </div>
                            <div class="bill-text">
                                <div class="bill-qr">Tên khách hàng: </div>
                                <span style="font-style: italic;">${result.fullname}</span>
                            </div>
                            <div class="showtime-bill show-qr">
                                <div class="bill-text" style="display: flex;">
                                    <div class="name-bill name-qr">Tên phim: </div>
                                    <div>
                                        <div>${result.nameEN}</div>
                                        <div>${result.nameVN}</div>
                                    </div>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Suất chiếu: </div>
                                    <span style="font-weight: 600;">${result.date} ${result.time}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Rạp: </div>
                                    <span style="font-weight: 600;">${result.room}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr">Ghế: </div>
                                    <span style="font-weight: 600;">${result.ticket}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr" style="flex:3">Combo: </div> 
                                    <span style="flex:5">${result.snack}</span>
                                </div>
                                <div class="bill-text">
                                    <div class="name-bill name-qr" style="flex:3">Tổng tiền: </div> 
                                    <span style="flex:5">${formatNumber(result.total)} VNĐ</span>
                                </div>
                            </div>
                            <div class="print-section">
                                <button class="form-control btn-print noPrint" onclick="checkInBill(this)">Sử dụng</button>
                                <button class="form-control btn-print noPrint" onclick="window.print()">In</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="form-control btn-print btn-backQR noPrint">
                    <a href='/qrcode/scan-qrcode'>Quay lại scan</a>
                    </button>
          `)
                    } else {
                        $('.container-bill').html(`<div class="no-show">
                        <h1 style="color:white">${result}</h1>
                        <img src="/img/movie.gif" alt="">
                    </div>   
                    <button class="form-control btn-print btn-backQR noPrint">
                    <a href='/qrcode/scan-qrcode'>Quay lại scan</a>
                    </button>`);
                    }
                }
            })
        }
    </script>