<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <div class="container">
        <div class="price-ticket-img">
            <img src="/img/ticket.png" alt="">
        </div>
    </div>
</body>